::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}

.dark ::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

.dark ::-webkit-scrollbar-track {
  background: transparent;
}

.dark ::-webkit-scrollbar-thumb {
  background: transparent;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
